@import url("htpps://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins,sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('https://images.unsplash.com/photo-1622793139910-e261be0b30a4?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fHN0YXJyeSUyMHNreXxlbnwwfHwwfHx8MA%3D%3D') no-repeat;
    background-size: cover;
    background-position:center ;
    /* background: #383B43; */
    /* background-color: seagreen; */
}
.c1{
    width: 420px;
    background:transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(1px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color:#fff;
    border-radius: 10px;
    padding: 30px 40px;
}
.c1 h1{
    font-size: 36px;
    text-align: center;
}
.c1 .inputbox{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.inputbox input{
    width:100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color:#fff;
    padding: 20px 45px 20px 20px;
}
.inputbox input::placeholder{
    color:#fff;
}
.inputbox i{
    position: absolute;
    right:20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.c1 .forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin:-15px o 15px;
}
.forgot label input{
    accent-color: #fff;
    margin-right:3px;
}
.forgot a{
    color: #fff;
    text-decoration: none;
}
.forgot a:hover{
    text-decoration: underline;
}
.c1 .b1{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size:16px;
    color: #333;
    font-weight: 600;
}
.c1 .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}
.register-link p a {
    color:#fff;
    text-decoration: none;
    font-weight: 600px;
}
.register-link p a:hover{
    text-decoration: underline;
}
